/* BIG Website */

html {
    background-color:#ccc;
}

main {
    background-color:#fff;
    width:80%;
    margin:auto;
}

h1 a {
    text-decoration: none;
}

section {
    float:left;
    width:65%;
}

aside {
    float:right;
    width:34%;
}

.fullwidth {
    width:100%;
}


img {
    width:100%;
    border:2px solid #CC845D;
}

div.gallery {
    text-align:center;
}

figure {
    display:inline-block;
    margin:.25%;
}


/* START - EMBED RESPONSIVELY STYLES */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    }

/* END - EMBED RESPONSIVELY STYLES */

/* HIDE AGENDA VIEW CALENDAR */

.embed-container.agenda-view{
    display:none;
}


footer {
    padding:1em;
    text-align:center;
    clear:both;
}


/* MOBLE STYLES */

@media all and (max-width:600px) {
    main {
        width:100%;
    }
    
    section {
        float:none;
        width:100%;
    }

    aside {
        float:none;
        width:100%;
    }
}


/* CALENDAR RULES FOR PHONE */

@media all and (max-width:1440px) {
    
    /* SHOW AGENDA VIEW CALENDAR */
    div.embed-container.agenda-view{
        display:block;
    }
    
    /* HIDE AGENDA VIEW CALENDAR */
    div.embed-container.month-view{
        display:none;
    }
}

/* PHONE RULES */

@media all and (max-width:600px) {
    
    div.wrapper {
        width:100%;
    }
    
    img.desktop, img.tablet {
        display:none;
    }
    
}



